@import '../../theme.scss';

.trending-banner-root {
    margin-top: 20px;

    .trending-banner-header {
        color: $--newCommunityTheme-navIcon;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
    }
}

.trending-card-root {
    border-radius: 10px;
}
