@import '../../theme.scss';

.searchbar-container {
    display: flex;
    align-items: center;
    border: 1.5px solid $--newRedditTheme-line;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    height: 35px;
    width: 600px;

    .search-icon {
        color: $--newRedditTheme-actionIcon;
    }

    .search-input {
        padding: 0;
        margin: 0;
        outline: 0;
        border: none;
        flex-grow: 1;
        margin-left: 5px;
    }

    .search-input:focus {
        outline: 0;
        border: none;
    }
}

.searchbar-container:hover {
    border: 1.5px solid $--newCommunityTheme-active;
}

.searchbar-container.focused {
    border: 1.5px solid $--newCommunityTheme-active;
}
