@import '../../theme.scss';

.navbar-container {
    width: 100%;
    background-color: $--newCommunityTheme-navBar-backgroundColor;
    position: fixed;
    top: 0;

    .navbar-content {
        height: 50px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar-btns {
        display: flex;
        flex-direction: row;
    }
}
